:root{
    --envelope-widt : 40rem;
    --envelope-height : 30rem;
    --paper-widt : 37.5rem;
    --paper-height : 25rem;
    --tape-color :#4476cc; 
    --tape-color2: rgb(74, 143, 223);
}
html{
    font-size: calc(0.8 * 1vw + .5 * 1vh);
    overflow: hidden;
    -webkit-user-select: none; /* Safari */
    -ms-user-select: none; /* IE 10 and IE 11 */
    user-select: none; /* Standard syntax */
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    position: relative;
    height: 100vh;
    width: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #1b1b1b;
    font-family: 'Itim', sans-serif;
    overflow: hidden;
}

/* ! letter1 */
.letter1{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}
.letter1.on{
    animation: letter-Bounce 2s ease-in-out infinite;
}
@keyframes letter-Bounce {
    from,
    50%{
        transform: translateY(0) scale(1, 1);
    }
    62.5%{
        transform: translateY(4%) scale(1.12, 0.89);
    }
    75%{
        transform: translateY(-11%) scale(0.92, 1.1);
    }
    87.5%{
        transform: translateY(0%) scale(1.05, 0.9);
    }
    to{
        transform: translateY(0) scale(1, 1);
    }
}
/* ! paper container */
.paper-container{
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1;
}
.paper-container.in-envelope{
    top: 8rem;
}
.paper-container.opening{
    top: 8rem;
    animation: paperOut 1s ease-in-out .7s;
}
.paper-container.opened{
    top: 4rem;
    z-index: 4;
}
.paper-container.drop{
    animation: drop-paper 0.7s ease-in;
}
@keyframes paperOut {
    0%{
        top: 8rem;
        z-index: 1;
    }
    50%{
        transform: translateY(-27rem);
        z-index: 1;
    }
    60%{
        transform: translateY(-27rem);
        z-index: 1;
    }
    100%{
        top: 4rem;
        z-index: 4;
    }
}
@keyframes drop-paper {
    0%{
        opacity: 1;
        transform-origin: 0% 0%;
        transform: translateY(0) rotate(0deg);
    }
    100%{
        opacity: 0;
        transform-origin: 0% 0%;
        transform: translateY(100vh) rotate(-180deg);
    }
}
.paper{  
    position: absolute;
    width: var(--paper-widt);
    height: var(--paper-height);
    align-items: center;
    justify-content: center;
}
img{
    width: var(--paper-widt);
    height: var(--paper-height);
    object-fit: cover;
    border-radius: 5%;
}
.p1{
    z-index: 3;
}

/* ! envelope */
.envelope{
    position: absolute;
    width: var(--envelope-widt);
    height: var(--envelope-height);
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #3760c9;
    top: -8rem;
}
.envelope-front{
    position: absolute;
    width: var(--envelope-widt);
    height: var(--envelope-height);
    top: 0;
    left: 0;
    border-top: calc(var(--envelope-height) / 2) solid transparent;
    border-right: calc(var(--envelope-widt) / 2) solid #c4dff0;
    border-bottom: calc(var(--envelope-height) / 2)  solid #c4dff0;
    border-left: calc(var(--envelope-widt) / 2) solid #a4d2f2;
    z-index: 1;
}
.envelope-lib-1,
.envelope-lib-2{
    position: absolute;
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
    border-right: calc(var(--envelope-widt) / 2) solid transparent;
    border-bottom: calc(var(--envelope-height) / 2)  solid transparent;
    border-left: calc(var(--envelope-widt) / 2) solid transparent;
    transition: transform 0.5s linear;  
}
.envelope-lib-1{
    border-top: calc(var(--envelope-height) / 2) solid #3760c9;
    transform: rotateX(0deg);
    z-index: 2;
}
.envelope-lib-2{
    border-top: calc(var(--envelope-height) / 2) solid #3760c9;
    transform: rotateX(90deg);
    z-index: 0;
}
.envelope.open{
    .envelope-lib-1{
        transform-origin: top;
        border-top: calc(var(--envelope-height) / 2) solid #3760c9;
        transform: rotateX(90deg);
        z-index: 2;
    }
    .envelope-lib-2{    
        transform-origin: top;
        border-top: calc(var(--envelope-height) / 2) solid #3760c9;
        transform: rotateX(180deg);
        z-index: 0;
    }  
} 
.envelope.opened{
    filter: brightness(80%);
    animation: fade-down 0.2s linear;
}
@keyframes fade-down {
    0%{
        filter: brightness(100%);
    }
    100%{
        filter: brightness(80%);
    }
}
@keyframes spinout-envelope{
    0%{
        opacity: 1;
        transform-origin: 10% 10%;
        transform: translateX(0) rotate(0deg);
    }
    100%{
        opacity: 0;
        transform-origin: 0% 0%;
        transform: translateX(-100vw) rotate(-360deg);
    }
}
.envelope p{
    position: absolute;
    z-index: 2;
    bottom: 1rem;
    right: 1rem;
    font-size: 2rem;

}

/* ! runnig emoji */
.emoji-container{
    position: absolute;
    width: 100vw;
    height: 100vh;
    -webkit-user-select: none; /* Safari */
    -ms-user-select: none; /* IE 10 and IE 11 */
    user-select: none; /* Standard syntax */
}
.running-text{
    color: white;
    position: absolute;
    animation: runningText 1s linear infinite;
}
@keyframes runningText {
    0%{
        opacity: 0;
        transform: translateY(110vh);
    }
    100%{
        transform: translateY(-15vh);
        opacity: 0;
    }
    10%,90%{
        opacity: 1;
    }
}

/* ! gift box */
.box{
    position: relative;
    width: 30rem;
    height: 30rem;
    align-items: center;
    justify-content: center;
    scale: 0.5;
    display: none;
}
.box.on{
    display: block;
    animation: fade-in 0.5s ease-in-out;
    .box-tape{
        animation: bTape 1.5s ease-in-out infinite;
    }
    .box-tape-left{
        animation: bLeft 1.5s ease-in-out infinite;
    }
    .box-tape-right{
        animation: bRight 1.5s ease-in-out infinite;
    }
    .box-gifts{
        animation: box-Bounce 1.5s ease-in-out infinite;
    }
    .box-gift{
        animation: box-Bounce2 1.5s ease-in-out infinite;
    }
    .box-gift-shadow{
        animation: boxShadoxBounce 1.5s ease-in-out infinite;
    }
}
@keyframes fade-in {
    0%{
        opacity: 0;
        transform: translateY(-200%);
    }
    70%{
        opacity: 1;
        transform: translateY(10%);
    }
    90%{
        opacity: 1;
        transform: translateY(-2%);
    }
    100%{
        opacity: 1;
        transform: translateY(-0%);
    }
}

@keyframes bTape {
    from,
    50%{
        transform: translateY(0) rotate(0);
    }
    62.5%{
        transform: translateY(75%) rotate(0);
    }
    68.75%{
        transform: translateY(-37.5%) rotate(15deg);
    }
    75%{
        transform: translateY(-150%) rotate(5deg);
    }
    87.5%{
        transform: translateY(65%) rotate(-3deg);
    }
    to{
        transform: translateY(0) rotate(0);
    }
}
@keyframes bLeft {
    from,
    50%{
        transform: rotate(35deg);
    }
    62.5%{
        transform: rotate(45deg);
    }
    75%{
        transform: rotate(30deg);
    }
    87.5%{
        transform: rotate(45deg);
    }
    to{
        transform: rotate(35deg);
    }
}
@keyframes bRight {
    from,
    50%{
        transform: rotate(-35deg);
    }
    62.5%{
        transform: rotate(-45deg);
    }
    75%{
        transform: rotate(-30deg);
    }
    87.5%{
        transform: rotate(-45deg);
    }
    to{
        transform: rotate(-35deg);
    }
}
@keyframes box-Bounce {
    from,
    50%{
        transform: translateY(0) scale(1, 1);
    }
    62.5%{
        transform: translateY(4%) scale(1.12, 0.89);
    }
    75%{
        transform: translateY(-11%) scale(0.92, 1.1);
    }
    87.5%{
        transform: translateY(0%) scale(1.05, 0.9);
    }
    to{
        transform: translateY(0) scale(1, 1);
    }
}
@keyframes box-Bounce2 {
    from,
    50%{
        transform: translateY(0) scale(1, 1) rotate(0);
    }
    62.5%{
        animation-timing-function: ease-in;
        transform: translateY(45%) scale(1.14, 0.95) rotate(0);
    }
    68.75%{
        animation-timing-function: ease-out;
        transform: translateY(-22.5%) scale(1.05, 1.03) rotate(15deg);
    }
    75%{
        animation-timing-function: ease-out;
        transform: translateY(-90%) scale(0.96, 1.1)rotate(5deg);
    }
    87.5%{
        transform: translateY(65%) scale(1.12, 0.93) rotate(-3deg);
    }
    to{
        transform: translateY(0) scale(1, 1) rotate(0);
    }
}
@keyframes boxShadoxBounce {
    from,
    50%{
        transform: translateY(0) scale(1, 1) rotate(0);
    }
    62.5%{
        animation-timing-function: ease-in;
        transform: translateY(10%) scale(1.14, 0.95) rotate(0);
    }
    68.75%{
        animation-timing-function: ease-out;
        transform: translateY(-10%) scale(1.05, 1.03) rotate(15deg);
    }
    75%{
        animation-timing-function: ease-out;
        transform: translateY(-30%) scale(0.96, 1.1)rotate(5deg);
    }
    87.5%{
        transform: translateY(10%) scale(1.12, 0.93) rotate(-3deg);
    }
    to{
        transform: translateY(0) scale(1, 1) rotate(0);
    }
}
.box-tape,
.box-tape-left,
.box-tape-right,
.box-tape-center,
.box-gifts,
.box-gift-shadow,
.box-gift,
.box-lib{
    position: absolute;
}
.box-tape-left,.box-tape-right,.box-tape-center{
    background-color: var(--tape-color);
}
.box-tape{
    bottom: 5rem;
    left: calc(34.2rem/2  - 6.6rem );
    width: 9rem;
    height: 6rem;
    transform-origin: 50% 230%;
}
.box-tape-center{
    border-radius: 3rem;
    width: 100%;
    height: 100%;
}
.box-tape-left, 
.box-tape-right{
    box-shadow: 0 0 0 2.1rem var(--tape-color2) inset;
    top: 0.9rem;
    width: 12rem;
    height: 15rem;
    z-index: -1;
}
.box-tape-left::before, 
.box-tape-right::before{
    background-color: var(--tape-color2);
    border-radius: inherit;
    content: "";
    display: block;
    position: absolute;
    inset: 0;
}
.box-tape-left{
    border-radius: 4.5rem 0 9rem 3rem/ 4.5rem 0 9rem 10.5rem;
    right: calc(100% - 2.25rem);
    transform: rotate(35deg);
    transform-origin: 100% 15%;
}
.box-tape-left::before{
    clip-path: polygon(0 42%, 100% 12%, 100%  100%, 0 100%);
}
.box-tape-right{
    border-radius: 0 4.5rem 3rem 9rem/ 0 4.5rem 10.5rem 9rem;
    left: calc(100% - 2.25rem);
    transform: rotate(-35deg);
    transform-origin: 0 15%;
}
.box-tape-right::before{
    clip-path: polygon(0 12%, 100% 42%, 100%  100%, 0 100%);
}
.box-gifts{
    background: linear-gradient(var(--tape-color), var(--tape-color)) 
    50% 50% / 9.9rem 100% no-repeat,#d8e8fa;
    border-radius: 1.5rem;
    bottom: 0rem;
    left: -2.1rem;
    overflow: hidden;
    width: 34.2rem;
    height: 27rem;
    z-index: 1;
}
.box-lib{
    z-index: 4;
}
.box-gift,
.box-gift-shadow{
    border-radius: 1rem;
    width: 39rem;
    height: 9.9rem;
}
.box-gift{
    background: linear-gradient(var(--tape-color), var(--tape-color)) 
    50% 50% / 9.9em 100% no-repeat,#d8e8fa;
    bottom: -3.9rem;
    left: -4.5rem;
    z-index: 4;
}
.box-gift-shadow{
    background-color: #00000010;
    top: -4.5rem;
    left: -3rem;
}
.box.on.explosion{
    .box-lib{
        animation: lib-explsion 0.5s linear;
    }
    .box-gifts{
        animation: bottom-explsion 0.5s linear;
    }
}
@keyframes lib-explsion {
    0%{
        opacity: 1;
        transform: translateY(0) rotate(0deg);
    }
    60%{
        transform: translateY(-60vh) rotate(15deg);
    }
    100%{
        opacity: 0;
        transform: translateY(-100vh) rotate(45deg);
    }
}
@keyframes bottom-explsion {
    0%{
        opacity: 1;
        transform: translateY(0) rotate(0deg);
    }
    60%{
        transform: translateY(60vh) rotate(15deg);
    }
    100%{
        opacity: 0;
        transform: translateY(100vh) rotate(45deg);
    }
}

/* ! greeting card */
.greeting-card-container{
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
}
.greeting-card-container.hidden{
    display: none;
    scale: 0.1;
    z-index: -1;
}
.greeting-card-container.show{
    display: flex;
    scale: 1;
    z-index: 1;
    animation: come-greeting-card 0.3s ease-in-out;
}
@keyframes come-greeting-card {
    0%{
        z-index: -1;
        scale: 0.1;
        transform: translateY(30rem) rotate(45deg);
    }
    30%{
        scale: 0.1;
        transform: translateY(0rem) rotate(45deg);
    }
    100%{
        display: flex;
        z-index: 1;
        scale: 1;
        transform: translateY(0rem) rotate(0deg);
    }
}
.p2 img{
    border-radius: 3rem;
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.p2{
    z-index: 3;
}

.firework-container{
    display: flex;
    position: absolute;
    justify-content: center;
    align-self: center;
    width: var(--paper-widt);
    height: var(--paper-height);
}
.firework{
    position: absolute;
    z-index: 4;
}
.firework-container.on{
    .firework-explosion::before{
        content: "";
        position: absolute;
        left: 0;
        right: 0;
        top: 100%;
        height: 50%;
        background-color: #f5cf52;
        animation: firework-explosion .5s ease-in-out infinite;
    }
    .f1{
        .firework-explosion::before{
            animation: firework-explosion .7s  0.3s ease-in-out 2;
        }
    }
    .f2{
        .firework-explosion::before{
            background-color: #eb961e;
            animation: firework-explosion .9s  0.2s ease-in-out 2;
        }
    }
    .f3{
        .firework-explosion::before{
            background-color: #eaa550;
            animation: firework-explosion .5s  0.1s ease-in-out 3;
        }
    }
}
.f1{
    left: -2rem;
    top: 2rem;
}
.f2{
    scale: 0.7;
    right: -3rem;
    top: 12rem;
}
.f3{
    scale: 0.5;
    left: 12rem;
    bottom: -2rem;
    .firework-explosion{
        width: 0.7rem;
    }
}
.firework-explosion{
    position: absolute;
    left: 0rem;
    bottom: 0;
    width: 0.4rem;
    height: 8rem;
    min-width: calc(20px * 0.05);
    min-height: 20px;
    transform-origin: 50% 100%;
    overflow: hidden;
}       
.firework-explosion:nth-child(12){
    transform: rotate(0deg) translateY(-1.5rem);
}.firework-explosion:nth-child(1){
    transform: rotate(30deg) translateY(-1.5rem);
}.firework-explosion:nth-child(2){
    transform: rotate(60deg) translateY(-1.5rem);
}.firework-explosion:nth-child(3){
    transform: rotate(90deg) translateY(-1.5rem);
}.firework-explosion:nth-child(4){
    transform: rotate(120deg) translateY(-1.5rem);
}.firework-explosion:nth-child(5){
    transform: rotate(150deg) translateY(-1.5rem);
}.firework-explosion:nth-child(6){
    transform: rotate(180deg) translateY(-1.5rem);
}.firework-explosion:nth-child(7){
    transform: rotate(210deg) translateY(-1.5rem);
}.firework-explosion:nth-child(8){
    transform: rotate(240deg) translateY(-1.5rem);
}.firework-explosion:nth-child(9){
    transform: rotate(270deg) translateY(-1.5rem);
}.firework-explosion:nth-child(10){
    transform: rotate(300deg) translateY(-1.5rem);
}.firework-explosion:nth-child(11){
    transform: rotate(330deg) translateY(-1.5rem);
}
@keyframes firework-explosion {
    0%{
        top: 100%;
    }
    100%{
        top: -50%;
    }
} 