:root{
    --envelope-widt : 40rem;
    --envelope-height : 30rem;
    --paper-widt : 37.5rem;
    --paper-height : 25rem;
}
html{
    font-size: calc(0.8 * 1vw + .2 * 1vh);
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    position: relative;
    height: 100vh;
    width: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #1b1b1b;
    font-family: 'Itim', sans-serif;
    overflow: hidden;
}

/* ! paper container */
.paper-container{
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1;
}
.paper-container.in-envelope{
    top: calc(50vh - var(--envelope-height)/2 + 8rem + var(--envelope-height)/2);
}
.paper-container.opening{
    top: calc(50vh - var(--envelope-height)/2 + 8rem + var(--envelope-height)/2);
    animation: paperOut 1s linear .7s;
}
.paper-container.opened{
    top: 50vh;
    z-index: 4;
}
@keyframes paperOut {
    0%{
        top: calc(50vh - var(--envelope-height)/2 + 8rem + var(--envelope-height)/2);
        z-index: 1;
    }
    50%{
        transform: translateY(-30rem);
        z-index: 1;
    }
    100%{
        top: 50vh;
        z-index: 4;
    }
}
.paper{  
    position: absolute;
    width: var(--paper-widt);
    height: var(--envelope-height);
    text-align: center;
}
.paper img{
    border-radius: 3rem;
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.p1{
    z-index: 3;
}
.p2{
    z-index: 2;
}
.p3{
    z-index: 1;
}

/* ! envelope */
.envelope{
    position: absolute;
    width: var(--envelope-widt);
    height: var(--envelope-height);
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #3760c9;
    top: calc(50vh - var(--envelope-height)/2 + 8rem);
}
.envelope-front{
    position: absolute;
    width: var(--envelope-widt);
    height: var(--envelope-height);
    top: 0;
    left: 0;
    border-top: calc(var(--envelope-height) / 2) solid transparent;
    border-right: calc(var(--envelope-widt) / 2) solid #c4dff0;
    border-bottom: calc(var(--envelope-height) / 2)  solid #c4dff0;
    border-left: calc(var(--envelope-widt) / 2) solid #a4d2f2;
    z-index: 1;
}
.envelope-lib-1,
.envelope-lib-2{
    position: absolute;
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
    border-right: calc(var(--envelope-widt) / 2) solid transparent;
    border-bottom: calc(var(--envelope-height) / 2)  solid transparent;
    border-left: calc(var(--envelope-widt) / 2) solid transparent;
    transition: transform 0.5s linear;  
}
.envelope-lib-1{
    border-top: calc(var(--envelope-height) / 2) solid #3760c9;
    transform: rotateX(0deg);
    z-index: 2;
}
.envelope-lib-2{
    border-top: calc(var(--envelope-height) / 2) solid #3760c9;
    transform: rotateX(90deg);
    z-index: 0;
}
.envelope.open{
    .envelope-lib-1{
        transform-origin: top;
        border-top: calc(var(--envelope-height) / 2) solid #3760c9;
        transform: rotateX(90deg);
        z-index: 2;
    }
    .envelope-lib-2{    
        transform-origin: top;
        border-top: calc(var(--envelope-height) / 2) solid #3760c9;
        transform: rotateX(180deg);
        z-index: 0;
    }  
    /* animation: spinout-envelope 1s ease-in-out; */
} 
@keyframes spinout-envelope{
    0%{
        transform-origin: 10% 10%;
        transform: translateX(0) rotate(0deg);
    }
    100%{
        transform-origin: 0% 0%;
        transform: translateX(-100vw) rotate(-360deg);
    }
}

/* ! runnig emoji */
.emoji-container{
    font-size: 5px;
    position: relative;
    width: 100vw;
    height: 100vh;
    -webkit-user-select: none; /* Safari */
    -ms-user-select: none; /* IE 10 and IE 11 */
    user-select: none; /* Standard syntax */
}
.running-text{
    color: white;
    position: absolute;
    animation: runningText 1s linear infinite;
}
@keyframes runningText {
    0%{
        opacity: 0;
        transform: translateY(110vh);
    }
    100%{
        transform: translateY(5vh);
        opacity: 0;
    }
    10%,90%{
        opacity: 1;
    }
}
